:root {
    --main-color: #000000;
    --light-main: #595958;
    --secondary-color: rgb(255, 255, 255);
    --main-font: font-family: 'Raleway', sans-serif;
    --input-color: rgba(255, 255, 255, .80)
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

/*CSS follows order of HTML for easier access and finding*/
/* header */

header {
    text-align: center;
    color: var(--main-color);
}

.name-title {
    font-size: 100px;
    font-family: var(--main-font);
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    position: static;
    border: 3px solid var(--main-color);
    margin-top: 20px;
}

.name-title a {
    text-decoration: none;
    color: var(--main-color);
}

.title {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.hiero1 {
    font-size: 113px;
}

.hiero2 {
    font-size: 113px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0px 250px;
}

header nav ul li {
    margin-top: 1px;
    padding: 20px;
    font-size: 25px;
    font-weight: bold
}

header nav ul li a {
    text-decoration: none;
    margin: 1px;
    padding: 10px;
    color: var(--main-color);
    font-family: var(--main-font);
    border-radius: 7px;
}

header nav ul li a:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
}

/* tabloid */

.tabloid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 500px 500px;
}

/* about */

#about {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 2px solid var(--main-color);
    margin-top: 0;
    font-family: var(--main-font);
}

#about-text {
    text-align: center;
    padding: 20px 20px;
    color: var(--main-color);
}

#about-image img {
    width: 80%;
    height: 80%;
    padding-top: 7%;
    padding-left: 7%;
}

#about p {
    padding: 10px 20px;
    font-size: 18px;
}

/* work */

#work {
    border: 2px solid var(--main-color);
}

/* contact me */

#contact {
    color: var(--main-color);
    font-family: var(--main-font);
}

#contact h2 {
    text-align: center;
    font-size: 45px;
    padding-bottom: 25px;
    text-decoration: underline;
}

#contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-info {
    padding-left: 15%;
    line-height: 30px;
}

h3 {
    font-size: 25px;
}

address {
    font-size: 20px;
    padding-top: 30px;
}

address a {
    color: var(--main-color);
}

address a:checked {
    color: var(--main-color);
}

/* form-content */

.contact-form {
    background-color: var(--main-color);
    padding: 20px;
    color: var(--secondary-color);
    border: 3px solid var(--main-color);
    width: 80%;
    border-radius: 15px;
}

form {
    background-color: var(--main-color);
}

.contact-form h3 {
    background-color: var(--main-color);
    text-align: center;
    padding-bottom: 20px;
}

label {
    background-color: var(--main-color);
    font-size: 20px;
    line-height: 30px;
}

input {
    background-color: var(--input-color);
    border-radius: 3px;
    border: none;
}


textarea {
    background-color: var(--input-color);
}

select {
    background-color: var(--input-color);
}

button {
    background-color: var(--input-color);
    padding: 9px;
    color: var(--secondary-color);
    font-size: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

option {
    background-color: var(--input-color);
}


/* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 10px;
    font-family: var(--main-font);
}

footer h2 {
    background-color: var(--main-color);
    padding-top: 4px;
}

footer img {
    background-color: var(--main-color);
}

footer img {
    height: 60px;
}

#copyrights {
    background-color: var(--main-color);
    font-size: 25px;
    padding-top: 10px;
}